**/build/
**/__pycache__/
legacy/build-cache/
input/**/*.fp32
input/**/*.fp16
profiles/*.nsys-rep
profiles/*.sqlite
profiles/*.qdstrm
results/**/*.nsys-rep
results/**/*.sqlite
results/**/*.qdstrm
results/**/*.lpq
results/**/*.fp32
results/**/*.fp16
results/**/*.bf16
records/**/*.nsys-rep
records/**/*.sqlite
records/**/*.qdstrm
records/**/*.lpq
records/**/*.fp32
records/**/*.fp16
records/**/*.bf16
